In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read in CSV files and print out first 5 rows
measurements_file = "data/hawaii_measurements.csv"
stations_file = "data/hawaii_stations.csv"

measurements_df = pd.read_csv(measurements_file)
stations_df = pd.read_csv(stations_file)

In [3]:
# Print out stations. No null values
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [4]:
# Print out number of observations
measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [5]:
# Print out number of rows with NaN
nan_measurements_df = measurements_df.loc[measurements_df["prcp"].isnull()]
nan_measurements_df.count()

station    1447
date       1447
prcp          0
tobs       1447
dtype: int64

In [6]:
# Print out percent of rows with NaN
percent_nan = round(nan_measurements_df['station'].count()/measurements_df['station'].count()*100,3)
print(f"{percent_nan}%")

7.402%

Decided that to drop all NaN observations, since it only represents 7.4% of the data

In [7]:
# Create clean version of measurements data, excluding NaN's
clean_measurements_df = measurements_df.dropna(how="any")
clean_measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [9]:
# Write the clean versions of the files
stations_df.to_csv("data/clean_hawaii_stations.csv", sep=',', index=False)
clean_measurements_df.to_csv("data/clean_hawaii_measurements.csv", sep=',', index=False)