In [20]:
# Import dependencies
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session

In [21]:
# Read in CSV files and print out first 5 rows
measurements_file = "data/hawaii_measurements.csv"
stations_file = "data/hawaii_stations.csv"

measurements_df = pd.read_csv(measurements_file)
stations_df = pd.read_csv(stations_file)

print(measurements_df.head())
print("-"*100)
print(stations_df.head())

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
----------------------------------------------------------------------------------------------------
       station                                    name  latitude  longitude  \
0  USC00519397                    WAIKIKI 717.2, HI US   21.2716  -157.8168
1  USC00513117                    KANEOHE 838.1, HI US   21.4234  -157.8015
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US   21.5213  -157.8374
3  USC00517948                       PEARL CITY, HI US   21.3934  -157.9751
4  USC00518838              UPPER WAHIAWA 874.3, HI US   21.4992  -158.0111

   elevation
0        3.0
1       14.6
2        7.0
3       11.9
4      306.6

In [24]:
# Create the connection engine
engine = create_engine("sqlite:///data/hawaii.sqlite")

# Create both the measurements and stations tables within the database
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [25]:
# Establish Base for which classes will be constructed 
Base = declarative_base()

In [26]:
# Create classes
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    precipitation = Column(Float)
    total_obs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)